@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a; /* Make text visible on white background */
  --font-sans: var(--font-geist-sans, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  
  font-family: var(--font-sans);
}

/*Card design*/

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

/*Title scroll*/

